{% extends 'base.html.twig' %}

{% block title %}Transports AVS : l'esprit du service bien fait{% endblock %}

{% block body %}


		<!-- Start slider -->
		<div id="rev_slider_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home-page">
			<!-- START REVOLUTION SLIDER -->
			<div id="rev_slider" class="rev_slider fullscreenbanner" style="display:none;">
			  <ul>

				<!-- SLIDE  -->
				<li data-index="rs-3060" data-transition="parallaxvertical" data-ease="SlowMo.ease" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0"  data-saveperformance="off"  data-title="Solution">
					<!-- MAIN IMAGE -->
					<img src="{{ asset('ressources/images/slider/01.jpg')}}" alt=""  data-lazyload="ressources/images/slider/01.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 5 -->
					<div class="tp-caption SleekLanding-Title   tp-resizeme"
					 id="slide-3060-layer-7"
					 data-x="['left','left','left','left']" data-hoffset="['700','500','400','80']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['-99','-99','-99','-119']"
					data-fontsize="['50','40','35','30']"
					data-lineheight="['50','40','35','30']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 8; white-space: nowrap;color:#fff; font-weight: 600;text-transform:left;font-family: 'Alegreya SC', serif;">TRANSPORTS<br> AVS</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption   tp-resizeme"
					 id="slide-3060-layer-8"
					 data-x="['left','left','left','left']" data-hoffset="['700','500','400','80']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['5','1','-1','-25']"
					data-width="['520','520','360','370']"
					data-height="none"
					data-whitespace="normal"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 9; min-width: 320px; white-space: normal; font-size: 16px; line-height: 24px; font-weight: 400; color: #fff;text-transform:left;border-width:0px;">Voyager en toute sécurité avec TRANSPORTS AVS  </div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption SleekLanding-SmallTitle   tp-resizeme"
					 id="slide-3060-layer-10"
					 data-x="['left','left','left','left']" data-hoffset="['705','500','400','80']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['95','95','106','80']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-responsive_offset="on"
					data-type="button"
					data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
					data-frames='[{"from":"y:40px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:40px;opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'data-textAlign="['left','left','left','left']"
					data-paddingtop="[12,12,12,12]"
					data-paddingright="[35,35,35,35]"
					data-paddingbottom="[12,12,12,12]"
					data-paddingleft="[35,35,35,35]"
					style="z-index: 29; white-space: nowrap;color:#fff;text-transform:left;border:1px solid #fff;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"></div>

				</li>
				<!-- SLIDE  -->
				<li data-index="rs-3061" data-transition="slidevertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0"  data-saveperformance="off"  data-title="Diversity">
					<!-- MAIN IMAGE -->
					<img src="{{ asset('ressources/images/slider/02.jpg')}}" alt=""  data-lazyload="ressources/images/slider/02.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 8 -->
					<div class="tp-caption SleekLanding-Title   tp-resizeme"
					 id="slide-3061-layer-7"
					 data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['-99','-99','-99','-119']"
					data-fontsize="['50','45','40','40']"
					data-lineheight="['40','40','35','35']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"nothing"}]'data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 22; white-space: nowrap;color:#fff; font-weight: 600;text-transform:left;font-family: 'Alegreya SC', serif;">TRANSPORTS <br>AVS</div>

					<!-- LAYER NR. 9 -->
					<div class="tp-caption   tp-resizeme"
					 id="slide-3061-layer-8"
					 data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['1','0','1','-20']"
					data-width="['550','550','450','450']"
					data-height="none"
					data-whitespace="normal"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"nothing"}]'data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 23; min-width: 320px; white-space: normal; font-size: 18px; line-height: 24px; font-weight: 400; color: #fff;text-transform:left;border-width:0px;">Dans un confort d'avion avec TRANSPORT AVS</div>

					<!-- LAYER NR. 10 -->
					<div class="tp-caption SleekLanding-SmallTitle   tp-resizeme"
					 id="slide-3061-layer-10"
					 data-x="['left','left','left','left']" data-hoffset="['55','55','55','25']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['95','90','95','85']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-responsive_offset="on"
					data-type="button"
					data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
					data-frames='[{"from":"y:40px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:40px;opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'data-textAlign="['left','left','left','left']"
					data-paddingtop="[12,12,12,12]"
					data-paddingright="[35,35,35,35]"
					data-paddingbottom="[12,12,12,12]"
					data-paddingleft="[35,35,35,35]"
					style="z-index: 29; white-space: nowrap;color:#fff;text-transform:left;border:1px solid #fff;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"></div>

				</li>
				<!-- SLIDE  -->
				<li data-index="rs-3062" data-transition="slidevertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0"  data-saveperformance="off"  data-title="Diversity">
					<!-- MAIN IMAGE -->
					<img src="{{ asset('ressources/images/slider/03.jpg')}}" alt=""  data-lazyload="ressources/images/slider/03.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 8 -->
					<div class="tp-caption SleekLanding-Title   tp-resizeme"
					 id="slide-3062-layer-7"
					 data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['-99','-99','-99','-119']"
					data-fontsize="['50','45','40','40']"
					data-lineheight="['40','40','35','35']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"nothing"}]'data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 22; white-space: nowrap;color:#fff; font-weight: 600;text-transform:left;font-family: 'Alegreya SC', serif;">TRANSPORTS <br>AVS</div>

					<!-- LAYER NR. 9 -->
					<div class="tp-caption   tp-resizeme"
					 id="slide-3062-layer-8"
					 data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['1','0','1','-20']"
					data-width="['550','550','450','450']"
					data-height="none"
					data-whitespace="normal"
					data-type="text"
					data-responsive_offset="on"
					data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"nothing"}]'data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 23; min-width: 320px; white-space: normal; font-size: 18px; line-height: 24px; font-weight: 400; color: #fff;text-transform:left;border-width:0px;">la ponctualite de TRANSPORTS AVS, un gage de confiance</div>

					<!-- LAYER NR. 10 -->
					<div class="tp-caption SleekLanding-SmallTitle   tp-resizeme"
					 id="slide-3062-layer-10"
					 data-x="['left','left','left','left']" data-hoffset="['55','55','55','25']"
					 data-y="['middle','middle','middle','middle']" data-voffset="['95','90','95','85']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-responsive_offset="on"
					data-type="button"
					data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
					data-frames='[{"from":"y:40px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:40px;opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'data-textAlign="['left','left','left','left']"
					data-paddingtop="[12,12,12,12]"
					data-paddingright="[35,35,35,35]"
					data-paddingbottom="[12,12,12,12]"
					data-paddingleft="[35,35,35,35]"
					style="z-index: 29; white-space: nowrap;color:#fff;text-transform:left;border:1px solid #fff;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"></div>

				</li>
				</ul>
			</div>
			<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
		</div>
		<!-- END REVOLUTION SLIDER -->


		<section id="slider-bottom">
			<div class="container">
				<div class="slider-bottom">
					<div class="row" id="avs-services">
						<div class="col-md-3 col-sm-6">
							<div class="s-bottom">
								<div class="s-top"></div>
								<div class="s-text">
									<div class="s-img"><i class="fa fa-bus"></i></div>
									<div class="content">
										<h4>Voyage</h4>
										<p> Un service de transports de voyageur professionnel</p>
									</div>
									<div class="s-overlay">
										<h4><a href="#">TRANSPORTS AVS</a></h4>
										<hr>
										<p>C'est un service de transports de voyageur professionnel.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="s-bottom">
								<div class="s-top"></div>
								<div class="s-text">
									<div class="s-img"><i class="fa fa-envelope-o"></i></div>
									<div class="content">
										<h4>Colis</h4>
										<p>Un service de livraison rapide de plis, colis et documents.</p>
									</div>
								</div>
								<div class="s-overlay">
									<h4><a href="#">TRANSPORTS AVS</a></h4>
									<hr>
									<p>C'est un service de livraison rapide de plis, colis et documents.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="s-bottom">
								<div class="s-top"></div>
								<div class="s-text">
									<div class="s-img"><i class="fa fa-map-signs"></i></div>
									<div class="content">
										<h4>Tourisme</h4>
										<p>Des cars climatisés pour explorer la Côte d'Ivoire</p>
									</div>
								</div>
								<div class="s-overlay">
									<h4><a href="#">TRANSPORTS AVS</a></h4>
									<hr>
									<p>Vous offre des cars climatisés pour explorer la Côte d'Ivoire  </p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="s-bottom">
								<div class="s-top"></div>
								<div class="s-text">
									<div class="s-img"><i class="fa fa-truck"></i></div>
									<div class="content">
										<h4>Marchandises</h4>
										<p>Un service de transport de marchandises et autres biens</p>
									</div>
								</div>
								<div class="s-overlay">
									<h4><a href="#">TRANSPORTS AVS</a></h4>
									<hr>
									<p>Des vehicules pour le transport de vos affaires et marchandises</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="planet">
			<div class="planet">
				<div class="container">
					<div class="p-header">
						<h1 class="title">L'esprit du service bien fait</h1>
						<hr />
						<p></p>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="p-left">
								<div class="p-img"><img src="{{ asset('ressources/images/car.jpg')}}" alt="" /></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="p-right">
								<div class="p-content">
									<h5>Le réseau TRANSPORTS AVS s'agrandit </h5>
									<div class="pl-txt">
										<h1>Q</h1>
										<p>ue vous souhaitez effectuer un voyage professionnel, partir en vacance ou juste pour un week-end entre amis (es), une seule référence: TRANSPORTS AVS.</p>
									</div>
									<div class="p-txt">
										<ul>
											<li>Plus de départs à des fréquences régulières </li>
											<li>Profitez d'une connexion internet gratuite et haut débit.</li>
											<li>Profitez de sièges confortables et d'une climatisation hivernale TRANSPORTS AVS L'ESPRIT DU SERVICE BIEN FAIT. </li>

										</ul>
									</div>
									<div class="pl-txt" style="margin-top: 50px;  color:#f4b602">
										<div class="row">
											<div class="col-xs-3 col-sm-2 text-center">
												<i class="fa fa-us fa-3x"></i>
											</div>
											<div class="col-xs-3 col-sm-2 text-center">
												<i class="fa fa-ifi fa-3x"></i>
											</div>
											<div class="col-xs-3 col-sm-2 text-center">
												<i class="fa fa-esktop fa-3x"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section id="our-cargo">
			<div class="our-cargo">
				<div class="container">
					<div class="our-header">
						<h1 class="title">L'esprit du service bien fait</h1>
						<hr />
					</div>
				</div>
				<div class="c-img">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="contain">
							<div class="cargo-img">
								<img src="{{ asset('ressources/images/media/m01.jpg')}}" alt="" />
							</div>
							<div class="textbox">
								<h3>CARS DE NOUVELLE GENERATION</h3>
								<p></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="contain">
							<div class="cargo-img">
								<img src="{{ asset('ressources/images/media/m02.jpg')}}" alt="" />
							</div>
							<div class="textbox">
								<h3>DE CONFORTABLES SIEGES</h3>
								<p></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="contain">
							<div class="cargo-img">
								<img src="{{ asset('ressources/images/media/m03.jpg')}}" alt="" />
							</div>
							<div class="textbox">
								<h3>UNE TEMPERATURE HIVERNALE</h3>
								<p></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="contain">
							<div class="cargo-img">
								<img src="ressources/images/media/m04.jpg" alt="" />
							</div>
							<div class="textbox">
								<h3>UN SERVICE
								COURRIER</h3>
								<p></p>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</section>


		<section id="lp-post">
			<div class="container">
				<div class="lp-post text-center">
					<div class="p-header">
						<h1 class="title">ACTUALITES AVS</h1>
						<hr />

					</div>
					<div class="row">
						{% for actualite in actualites %}
						<div class="col-md-4 col-sm-6">
							<div class="lp-content">
								<div class="contain">
									<div class="lp-img">
										<img src=<img src="{{ asset('uploads/actualites/'~ actualite.imageName) | imagine_filter('actualiteIntro') }}" class="img-responsive" alt="{{ actualite.titre }}">
									</div>
									<div class="textbox">
										<a href="{{ path('actualite_page', {'slug': actualite.slug}) }}"><i class="fa fa-search"></i></a>
									</div>
								</div>
								<div class="lp-txt">
									<time datetime="2015-10-26" class="icon">
										<span>{{ actualite.publieLe|date('d')}}</span>
										<strong>{{ actualite.publieLe|date('M')}}</strong>
									</time>
									<div class="lp-text">
										<h3><a href="{{ path('actualite_page', {'slug': actualite.slug}) }}">{{ actualite.titre }}</a></h3>
										<span> <a href="{{ path('actualite_page', {'slug': actualite.slug}) }}">{{ actualite.publiePar|title }}</a> </span>
										<p>{{ actualite.resume|raw }},.[...]</p>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>


		<section id="quote">
			<div class="quote-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="quote-txt">
								<div class="q-top">
									<h2>INFOS AVS</h2>
									<p>A L'ENDROIT DE NOS CLIENTS</p>
									<hr />
								</div>
								<div id="carousel-example" class="carousel slide" data-ride="carousel">
								 <!-- Wrapper for slides -->
								  <div class="carousel-inner" role="listbox">
									<div class="item active">
									  <div class="carousel-caption">
										<div class="q-txt">
											<p>At vero eos et  et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
											<div class="q-sign">
												<!--<img src="ressources/images/sign.png" alt="" />-->
												<h4>KONATE Moussa</h4>
												<h6>(Directeur)</h6>
											</div>
										</div>
									  </div>
									</div>
									<div class="item">
									  <div class="carousel-caption">
										<div class="q-txt">
											<p>At vero eos et  et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
											<div class="q-sign">
												<!--<img src="ressources/images/sign.png" alt="" />-->
												<h4>KONATE Moussa</h4>
												<h6>(Directeur)</h6>
											</div>
										</div>
									  </div>
									</div>
									<div class="item">
									  <div class="carousel-caption">
										<div class="q-txt">
											<p>At vero eos et  et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
											<div class="q-sign">
												<!--<img src="ressources/images/sign.png" alt="" />-->
												<h4>KONATE Moussa</h4>
												<h6>(Directeur)</h6>
											</div>
										</div>
									  </div>
									</div>
								  </div>
								   <!-- Indicators -->
								  <ol class="carousel-indicators">
									<li data-target="#carousel-example" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example" data-slide-to="1"></li>
									<li data-target="#carousel-example" data-slide-to="2"></li>
								  </ol>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="quote-content">
								<div class="q-top">
									<h2>RESERVATION </h2>
									<p>RESERVER VOTRE TICKET POUR LE VOYAGE</p>
									<hr />
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="panel-body">
											<select class="sl">
												<option>-- DEPART --</option>
												<option >ABIDJAN</option>
												<option >YAMOUSSOUKRO</option>
												<option >BOUAKE</option>
											</select>
										</div>
										<div class="panel-body">
											<select class="sl">
												<option >-- DATE DEPART --</option>
											</select>
										</div>
										<div class="panel-body">
											<select class="sl">
												<option>-- NOMBRE DE PLACES --</option>
												<option >1</option>
												<option >2</option>
												<option >3</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="panel-body">
											<select class="sl">
												<option >-- DESTINATION --</option>
												<option >ABIDJAN</option>
												<option >BOUAKE</option>
												<option >YAMOUSSOUKRO</option>
											</select>
										</div>
										<div class="panel-body">
											<select class="sl">
												<option >-- HEURE DEPART --</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row qc">

									<div class="col-md-4 pull-right">
										<div class="panel-body">
											<button class="btn btn-default"> Valider</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}
